#content{
margin-left:0px;
padding-left: 5px;
}
 
#nav{
  display: none;
position:fixed;
left:0;
top:0;
background:yellow;
padding:5px;
}
 
div.header{
background-color:#ccc;
padding: 5px;
width: 400px;
margin-left: 240px;
}
 
.sideskift{
page-break-before: always;
}
